    <div class="key white a octave0" data-note="A0" id="A0"></div>
    <div class="key black a_sharp octave0" data-note="A#0" id="Adiese0"></div>
    <div class="key white b octave0" data-note="B0" id="B0"></div>
    <div class="key white c octave1" data-note="C1" id="C1"></div>
    <div class="key black c_sharp octave1" data-note="C#1" id="Cdiese1"></div>
    <div class="key white d octave1" data-note="D1" id="D1"></div>
    <div class="key black d_sharp octave1" data-note="D#1" id="Ddiese1"></div>
    <div class="key white e octave1" data-note="E1" id="E1"></div>
    <div class="key white f octave1" data-note="F1" id="F1"></div>
    <div class="key black f_sharp octave1" data-note="F#1" id="Fdiese1"></div>
    <div class="key white g octave1" data-note="G1" id="G1"></div>
    <div class="key black g_sharp octave1" data-note="G#1" id="Gdiese1"></div>
    <div class="key white a octave1" data-note="A1" id="A1"></div>
    <div class="key black a_sharp octave1" data-note="A#1" id="Adiese1"></div>
    <div class="key white b octave1" data-note="B1" id="B1"></div>
    <div class="key white c octave2" data-note="C2" id="C2"></div>
    <div class="key black c_sharp octave2" data-note="C#2" id="Cdiese2"></div>
    <div class="key white d octave2" data-note="D2" id="D2"></div>
    <div class="key black d_sharp octave2" data-note="D#2" id="Ddiese2"></div>
    <div class="key white e octave2" data-note="E2" id="E2"></div>
    <div class="key white f octave2" data-note="F2" id="F2"></div>
    <div class="key black f_sharp octave2" data-note="F#2" id="Fdiese2"></div>
    <div class="key white g octave2" data-note="G2" id="G2"></div>
    <div class="key black g_sharp octave2" data-note="G#2" id="Gdiese2"></div>
    <div class="key white a octave2" data-note="A2" id="A2"></div>
    <div class="key black a_sharp octave2" data-note="A#2" id="Adiese2"></div>
    <div class="key white b octave2" data-note="B2" id="B2"></div>
    <div class="key white c octave3" data-note="C3" id="C3"></div>
    <div class="key black c_sharp octave3" data-note="C#3" id="Cdiese3"></div>
    <div class="key white d octave3" data-note="D3" id="D3"></div>
    <div class="key black d_sharp octave3" data-note="D#3" id="Ddiese3"></div>
    <div class="key white e octave3" data-note="E3" id="E3"></div>
    <div class="key white f octave3" data-note="F3" id="F3"></div>
    <div class="key black f_sharp octave3" data-note="F#3" id="Fdiese3"></div>
    <div class="key white g octave3" data-note="G3" id="G3"></div>
    <div class="key black g_sharp octave3" data-note="G#3" id="Gdiese3"></div>
    <div class="key white a octave3" data-note="A3" id="A3"></div>
    <div class="key black a_sharp octave3" data-note="A#3" id="Adiese3"></div>
    <div class="key white b octave3" data-note="B3" id="B3"></div>
    <div class="key white c octave4" data-note="C4" id="C4"></div>
    <div class="key black c_sharp octave4" data-note="C#4" id="Cdiese4"></div>
    <div class="key white d octave4" data-note="D4" id="D4"></div>
    <div class="key black d_sharp octave4" data-note="D#4" id="Ddiese4"></div>
    <div class="key white e octave4" data-note="E4" id="E4"></div>
    <div class="key white f octave4" data-note="F4" id="F4"></div>
    <div class="key black f_sharp octave4" data-note="F#4" id="Fdiese4"></div>
    <div class="key white g octave4" data-note="G4" id="G4"></div>
    <div class="key black g_sharp octave4" data-note="G#4" id="Gdiese4"></div>
    <div class="key white a octave4" data-note="A4" id="A4"></div>
    <div class="key black a_sharp octave4" data-note="A#4" id="Adiese4"></div>
    <div class="key white b octave4" data-note="B4" id="B4"></div>
    <div class="key white c octave5" data-note="C5" id="C5"></div>
    <div class="key black c_sharp octave5" data-note="C#5" id="Cdiese5"></div>
    <div class="key white d octave5" data-note="D5" id="D5"></div>
    <div class="key black d_sharp octave5" data-note="D#5" id="Ddiese5"></div>
    <div class="key white e octave5" data-note="E5" id="E5"></div>
    <div class="key white f octave5" data-note="F5" id="F5"></div>
    <div class="key black f_sharp octave5" data-note="F#5" id="Fdiese5"></div>
    <div class="key white g octave5" data-note="G5" id="G5"></div>
    <div class="key black g_sharp octave5" data-note="G#5" id="Gdiese5"></div>
    <div class="key white a octave5" data-note="A5" id="A5"></div>
    <div class="key black a_sharp octave5" data-note="A#5" id="Adiese5"></div>
    <div class="key white b octave5" data-note="B5" id="B5"></div>
    <div class="key white c octave6" data-note="C6" id="C6"></div>
    <div class="key black c_sharp octave6" data-note="C#6" id="Cdiese6"></div>
    <div class="key white d octave6" data-note="D6" id="D6"></div>
    <div class="key black d_sharp octave6" data-note="D#6" id="Ddiese6"></div>
    <div class="key white e octave6" data-note="E6" id="E6"></div>
    <div class="key white f octave6" data-note="F6" id="F6"></div>
    <div class="key black f_sharp octave6" data-note="F#6" id="Fdiese6"></div>
    <div class="key white g octave6" data-note="G6" id="G6"></div>
    <div class="key black g_sharp octave6" data-note="G#6" id="Gdiese6"></div>
    <div class="key white a octave6" data-note="A6" id="A6"></div>
    <div class="key black a_sharp octave6" data-note="A#6" id="Adiese6"></div>
    <div class="key white b octave6" data-note="B6" id="B6"></div>
    <div class="key white c octave7" data-note="C7" id="C7"></div>
    <div class="key black c_sharp octave7" data-note="C#7" id="Cdiese7"></div>
    <div class="key white d octave7" data-note="D7" id="D7"></div>
    <div class="key black d_sharp octave7" data-note="D#7" id="Ddiese7"></div>
    <div class="key white e octave7" data-note="E7" id="E7"></div>
    <div class="key white f octave7" data-note="F7" id="F7"></div>
    <div class="key black f_sharp octave7" data-note="F#7" id="Fdiese7"></div>
    <div class="key white g octave7" data-note="G7" id="G7"></div>
    <div class="key black g_sharp octave7" data-note="G#7" id="Gdiese7"></div>
    <div class="key white a octave7" data-note="A7" id="A7"></div>
    <div class="key black a_sharp octave7" data-note="A#7" id="Adiese7"></div>
    <div class="key white b octave7" data-note="B7" id="B7"></div>
    <div class="key white c octave8" data-note="C8" id="C8"></div>