<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>FORCE 12</title>
        <link type="text/css" href="css/style.css">
        <link ref="js/bootstrap-4.0.0-dist/css/bootstrap.min.css">
        <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    </head>
    <body>
        <h1>CSV File Written Successfully!</h1>
        <p>Your file has been saved at <strong>public/output.csv</strong>.</p>
    </body>
</html>
